<h1>Test Heading</h1>
<p>
</p>
<ol>
    <% for (var i=0; i < searchArray.length; i++) { %>
        <li><!--Use equals sign for outputting to user-->
            <%= searchArray[i] %>
        </li>
    <% } %>
</ol>